<a href="https://colab.research.google.com/github/elpinchepastel/analisis_dataset/blob/main/mtcars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2.	Juan Castañeda no tiene conocimiento sobre motores de carros. Sin embargo, Juan decide recolectar y tabular información sobre 32 motores que se podían ajustar a su presupuesto. Juan lo contrata a usted para que le ayude a tomar la mejor decisión para la compra de un motor y le suministra el dataset mtcars.csv. En caso de que la base de datos no pueda servir para tomar decisión de compra, puede usted recomendarle a Juan un conjunto de variables que ayude a tomar una mejor decisión.  

Los componentes del dataset:

●	model
●	mpg: miles/(US)  galon
●	cyl: number of cylinders
●	disp: engine displacement in^2
●	drat: rear axle ratio 
●	wt: weight (1000 lbs)
●	qsec: ¼ mile time
●	vs: engine (0 = V-shaped, 1 = straight)
●	am: transmission (0 = automatic, 1 = manual)
●	gear: number of forwards gears
●	carb: number of carburetors

In [10]:
from google.colab import drive
import pandas as pd

In [2]:
# Importemos para conectar Colab con la información en Drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Navegamos a la caparpeta con el contenido
%cd '/content/drive/My Drive/Dataset'

/content/drive/My Drive/Dataset

In [4]:
# Var a ver qué hay en la carpeta
!ls

mtcars.csv  orangeec.csv

In [49]:
 #Creamos un string con el nombre del archivo
ruta_archivo = '/content/drive/My Drive/Dataset/{}'.format('mtcars.csv')

In [50]:
ruta_archivo

'/content/drive/My Drive/Dataset/mtcars.csv'

In [51]:
print(ruta_archivo)

/content/drive/My Drive/Dataset/mtcars.csv

In [52]:
df = pd.read_csv(ruta_archivo)

In [53]:
# Usamos el método "to_csv" para exportar el dataframe a un archivo
df.to_csv(ruta_archivo, index=False, sep='|')

In [54]:
# Ver el tamaño del DataFrame y su información
print(df.shape)
df

(32, 12)

                  model  mpg  cyl  disp   hp  ...  qsec  vs  am  gear  carb
0             Mazda RX4 21.0    6 160.0  110  ...  16.5   0   1     4     4
1         Mazda RX4 Wag 21.0    6 160.0  110  ...  17.0   0   1     4     4
2            Datsun 710 22.8    4 108.0   93  ...  18.6   1   1     4     1
3        Hornet 4 Drive 21.4    6 258.0  110  ...  19.4   1   0     3     1
4     Hornet Sportabout 18.7    8 360.0  175  ...  17.0   0   0     3     2
5               Valiant 18.1    6 225.0  105  ...  20.2   1   0     3     1
6            Duster 360 14.3    8 360.0  245  ...  15.8   0   0     3     4
7             Merc 240D 24.4    4 146.7   62  ...  20.0   1   0     4     2
8              Merc 230 22.8    4 140.8   95  ...  22.9   1   0     4     2
9              Merc 280 19.2    6 167.6  123  ...  18.3   1   0     4     4
10            Merc 280C 17.8    6 167.6  123  ...  18.9   1   0     4     4
11           Merc 450SE 16.4    8 275.8  180  ...  17.4   0   0     3     3
12           Merc 450SL 17.3    8 275.8  180  ...  17.6   0   0     3     3
13          Merc 450SLC 15.2    8 275.8  180  ...  18.0   0   0     3     3
14   Cadillac Fleetwood 10.4    8 472.0  205  ...  18.0   0   0     3     4
15  Lincoln Continental 10.4    8 460.0  215  ...  17.8   0   0     3     4
16    Chrysler Imperial 14.7    8 440.0  230  ...  17.4   0   0     3     4
17             Fiat 128 32.4    4  78.7   66  ...  19.5   1   1     4     1
18          Honda Civic 30.4    4  75.7   52  ...  18.5   1   1     4     2
19       Toyota Corolla 33.9    4  71.1   65  ...  19.9   1   1     4     1
20        Toyota Corona 21.5    4 120.1   97  ...  20.0   1   0     3     1
21     Dodge Challenger 15.5    8 318.0  150  ...  16.9   0   0     3     2
22          AMC Javelin 15.2    8 304.0  150  ...  17.3   0   0     3     2
23           Camaro Z28 13.3    8 350.0  245  ...  15.4   0   0     3     4
24     Pontiac Firebird 19.2    8 400.0  175  ...  17.1   0   0     3     2
25            Fiat X1-9 27.3    4  79.0   66  ...  18.9   1   1     4     1
26        Porsche 914-2 26.0    4 120.3   91  ...  16.7   0   1     5     2
27         Lotus Europa 30.4    4  95.1  113  ...  16.9   1   1     5     2
28       Ford Pantera L 15.8    8 351.0  264  ...  14.5   0   1     5     4
29         Ferrari Dino 19.7    6 145.0  175  ...  15.5   0   1     5     6
30        Maserati Bora 15.0    8 301.0  335  ...  14.6   0   1     5     8
31           Volvo 142E 21.4    4 121.0  109  ...  18.6   1   1     4     2

[32 rows x 12 columns]

In [55]:
# Si queremos ver el total de los datos que componen la base de datos
df.size

384

In [56]:
# Si queremos conocer información sobre las variables numéricas, usamos el método describe
df.describe()

       mpg  cyl  disp    hp  drat   wt  qsec   vs   am  gear  carb
count 32.0 32.0  32.0  32.0  32.0 32.0  32.0 32.0 32.0  32.0  32.0
mean  20.1  6.2 230.7 146.7   3.6  3.2  17.8  0.4  0.4   3.7   2.8
std    6.0  1.8 123.9  68.6   0.5  1.0   1.8  0.5  0.5   0.7   1.6
min   10.4  4.0  71.1  52.0   2.8  1.5  14.5  0.0  0.0   3.0   1.0
25%   15.4  4.0 120.8  96.5   3.1  2.6  16.9  0.0  0.0   3.0   2.0
50%   19.2  6.0 196.3 123.0   3.7  3.3  17.7  0.0  0.0   4.0   2.0
75%   22.8  8.0 326.0 180.0   3.9  3.6  18.9  1.0  1.0   4.0   4.0
max   33.9  8.0 472.0 335.0   4.9  5.4  22.9  1.0  1.0   5.0   8.0

In [57]:
# Podemos quitar la notación científica
pd.options.display.float_format = '{:,.1f}'.format

In [58]:
# Podemos quitar la notación científica
pd.options.display.float_format = '{:,.1f}'.format

In [59]:
# Para incluir alguna información sobre la variables tipo texto 
df.describe(include='all')

                    model  mpg  cyl  disp    hp  ...  qsec   vs   am  gear  carb
count                  32 32.0 32.0  32.0  32.0  ...  32.0 32.0 32.0  32.0  32.0
unique                 32  nan  nan   nan   nan  ...   nan  nan  nan   nan   nan
top     Chrysler Imperial  nan  nan   nan   nan  ...   nan  nan  nan   nan   nan
freq                    1  nan  nan   nan   nan  ...   nan  nan  nan   nan   nan
mean                  NaN 20.1  6.2 230.7 146.7  ...  17.8  0.4  0.4   3.7   2.8
std                   NaN  6.0  1.8 123.9  68.6  ...   1.8  0.5  0.5   0.7   1.6
min                   NaN 10.4  4.0  71.1  52.0  ...  14.5  0.0  0.0   3.0   1.0
25%                   NaN 15.4  4.0 120.8  96.5  ...  16.9  0.0  0.0   3.0   2.0
50%                   NaN 19.2  6.0 196.3 123.0  ...  17.7  0.0  0.0   4.0   2.0
75%                   NaN 22.8  8.0 326.0 180.0  ...  18.9  1.0  1.0   4.0   4.0
max                   NaN 33.9  8.0 472.0 335.0  ...  22.9  1.0  1.0   5.0   8.0

[11 rows x 12 columns]

In [60]:
# Si queremos ver el tipo de variable que compone cada columna, la cantidad de valores faltantes, la posición de la columna
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [61]:
# Si sólo queremos ver el tipo de dato
df.dtypes

model     object
mpg      float64
cyl        int64
disp     float64
hp         int64
drat     float64
wt       float64
qsec     float64
vs         int64
am         int64
gear       int64
carb       int64
dtype: object

In [62]:
# A partir de Pandas 1.0, hay una funcionalidad para definir el mejor formato para las variables
df.convert_dtypes().dtypes

model     string
mpg      float64
cyl        Int64
disp     float64
hp         Int64
drat     float64
wt       float64
qsec     float64
vs         Int64
am         Int64
gear       Int64
carb       Int64
dtype: object

In [63]:
# Vamos a mirar el número de valores unicos para cada columna
df.nunique()

model    32
mpg      25
cyl       3
disp     27
hp       22
drat     22
wt       29
qsec     30
vs        2
am        2
gear      3
carb      6
dtype: int64

In [64]:
# Como se puede ver, las columnas nametype y fall se componen sólo por 2 valores diferentes
df[['model']]

                  model
0             Mazda RX4
1         Mazda RX4 Wag
2            Datsun 710
3        Hornet 4 Drive
4     Hornet Sportabout
5               Valiant
6            Duster 360
7             Merc 240D
8              Merc 230
9              Merc 280
10            Merc 280C
11           Merc 450SE
12           Merc 450SL
13          Merc 450SLC
14   Cadillac Fleetwood
15  Lincoln Continental
16    Chrysler Imperial
17             Fiat 128
18          Honda Civic
19       Toyota Corolla
20        Toyota Corona
21     Dodge Challenger
22          AMC Javelin
23           Camaro Z28
24     Pontiac Firebird
25            Fiat X1-9
26        Porsche 914-2
27         Lotus Europa
28       Ford Pantera L
29         Ferrari Dino
30        Maserati Bora
31           Volvo 142E

In [65]:
df.dtypes

model     object
mpg      float64
cyl        int64
disp     float64
hp         int64
drat     float64
wt       float64
qsec     float64
vs         int64
am         int64
gear       int64
carb       int64
dtype: object

In [67]:
#  Vamos a mirar cuáles son los valores unicos. Usamos el método unique
df['cyl'].unique()

array([6, 4, 8])

In [48]:
# Si queremos contar cuántos valores hay para cada categoría, usamos el método value_counts

df['Education invest % GDP'].value_counts()

Argentina      1
Paraguay       1
Colombia       1
Mexico         1
Bolivia        1
Panama         1
Honduras       1
Ecuador        1
Costa Rica     1
Peru           1
Uruguay        1
El Salvador    1
Chile          1
Belize         1
Brazil         1
Nicaragua      1
Guatemala      1
Name: Country, dtype: int64