<a href="https://colab.research.google.com/github/elpinchepastel/analisis_dataset/blob/main/orangeec.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	La Organización para la Cooperación y el Desarrollo Económico (OECD por sus siglas en inglés) le entrega el dataset orangeec.csv que contiene información recolectada sobre la economía naranja en países de América Latina. Haga un análisis exploratorio de datos para proveer a la OECD con información de valor sobre el impacto de la economía naranja en la región y su relación con otras variables macroeconómicas. Como parte del análisis se puede concluir que el dataset no es el adecuado para la toma de decisiones, para lo cual se debe sustentar la razón.

In [10]:
from google.colab import drive
import pandas as pd

In [2]:
# Importemos para conectar Colab con la información en Drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Navegamos a la caparpeta con el contenido
%cd '/content/drive/My Drive/Dataset'

/content/drive/My Drive/Dataset

In [4]:
# Var a ver qué hay en la carpeta
!ls

mtcars.csv  orangeec.csv

In [6]:
 #Creamos un string con el nombre del archivo
ruta_archivo = '/content/drive/My Drive/Dataset/{}'.format('orangeec.csv')

In [7]:
ruta_archivo

'/content/drive/My Drive/Dataset/orangeec.csv'

In [12]:
print(ruta_archivo)

/content/drive/My Drive/Dataset/orangeec.csv

In [13]:
df = pd.read_csv(ruta_archivo)

In [18]:
# Usamos el método "to_csv" para exportar el dataframe a un archivo
df.to_csv(ruta_archivo, index=False, sep='|')

In [26]:
# Ver el tamaño del DataFrame y su información
print(df.shape)
df

(17, 13)

        Country  GDP PC  ...  % pop 25-54  Education invest % GDP
0     Argentina   20900  ...        39.38                     5.9
1        Belize    8300  ...        36.62                     7.4
2       Bolivia    7500  ...        37.48                     7.3
3        Brazil   15600  ...        43.86                     5.9
4         Chile   24500  ...        43.08                     4.9
5      Colombia   14500  ...        41.91                     4.5
6    Costa Rica   16900  ...        44.03                     7.1
7       Ecuador   11500  ...        39.59                     5.0
8   El Salvador    8900  ...        39.23                     3.5
9     Guatemala    8100  ...        34.12                     2.8
10     Honduras    5600  ...        36.63                     5.9
11       Mexico   19900  ...        40.81                     5.3
12    Nicaragua    5800  ...        40.24                     4.5
13       Panama   25400  ...        40.35                     3.2
14     Paraguay    9800  ...        41.08                     5.0
15         Peru   13300  ...        40.19                     3.8
16      Uruguay   22400  ...        39.34                     4.4

[17 rows x 13 columns]

In [28]:
# Si queremos ver el total de los datos que componen la base de datos
df.size

221

In [29]:
# Si queremos conocer información sobre las variables numéricas, usamos el método describe
df.describe()

             GDP PC   GDP US bill  ...  % pop 25-54  Education invest % GDP
count     17.000000  1.700000e+01  ...    17.000000               17.000000
mean   14052.941176  1.886930e+05  ...    39.878824                5.082353
std     6624.303515  5.555371e+05  ...     2.638077                1.380777
min     5600.000000  1.370000e+01  ...    34.120000                2.800000
25%     8300.000000  3.710000e+01  ...    39.230000                4.400000
50%    13300.000000  7.570000e+01  ...    40.190000                5.000000
75%    19900.000000  3.092000e+02  ...    41.080000                5.900000
max    25400.000000  2.055000e+06  ...    44.030000                7.400000

[8 rows x 12 columns]

In [30]:
# Podemos quitar la notación científica
pd.options.display.float_format = '{:,.1f}'.format

In [ ]:
# Podemos quitar la notación científica
pd.options.display.float_format = '{:,.1f}'.format

In [31]:
# Para incluir alguna información sobre la variables tipo texto 
df.describe(include='all')

          Country   GDP PC  ...  % pop 25-54  Education invest % GDP
count          17     17.0  ...         17.0                    17.0
unique         17      nan  ...          nan                     nan
top     Argentina      nan  ...          nan                     nan
freq            1      nan  ...          nan                     nan
mean          NaN 14,052.9  ...         39.9                     5.1
std           NaN  6,624.3  ...          2.6                     1.4
min           NaN  5,600.0  ...         34.1                     2.8
25%           NaN  8,300.0  ...         39.2                     4.4
50%           NaN 13,300.0  ...         40.2                     5.0
75%           NaN 19,900.0  ...         41.1                     5.9
max           NaN 25,400.0  ...         44.0                     7.4

[11 rows x 13 columns]

In [32]:
# Si queremos ver el tipo de variable que compone cada columna, la cantidad de valores faltantes, la posición de la columna
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Country                            17 non-null     object
 1   GDP PC                             17 non-null     int64
 2   GDP US bill                        17 non-null     float64
 3   GDP Growth %                       17 non-null     float64
 4   Services % GDP                     17 non-null     float64
 5   Creat Ind % GDP                    11 non-null     float64
 6   Inflation                          17 non-null     float64
 7   Unemployment                       17 non-null     float64
 8   % pop below poverty line           17 non-null     float64
 9   Internet penetration % population  17 non-null     float64
 10  Median age                         17 non-null     float64
 11  % pop 25-54                        17 non-null     float64
 12  Education invest % GDP             17 non-null     float64
dtypes: float64(11), int64(1), object(1)
memory usage: 1.9+ KB

In [34]:
# Si sólo queremos ver el tipo de dato
df.dtypes

Country                               object
GDP PC                                 int64
GDP US bill                          float64
GDP Growth %                         float64
Services % GDP                       float64
Creat Ind % GDP                      float64
Inflation                            float64
Unemployment                         float64
% pop below poverty line             float64
Internet penetration % population    float64
Median age                           float64
% pop 25-54                          float64
Education invest % GDP               float64
dtype: object

In [35]:
# A partir de Pandas 1.0, hay una funcionalidad para definir el mejor formato para las variables
df.convert_dtypes().dtypes

Country                               string
GDP PC                                 Int64
GDP US bill                          float64
GDP Growth %                         float64
Services % GDP                       float64
Creat Ind % GDP                      float64
Inflation                            float64
Unemployment                         float64
% pop below poverty line             float64
Internet penetration % population    float64
Median age                           float64
% pop 25-54                          float64
Education invest % GDP               float64
dtype: object

In [37]:
# Vamos a mirar el número de valores unicos para cada columna
df.nunique()

Country                              17
GDP PC                               17
GDP US bill                          17
GDP Growth %                         17
Services % GDP                       17
Creat Ind % GDP                      10
Inflation                            15
Unemployment                         14
% pop below poverty line             16
Internet penetration % population    17
Median age                           17
% pop 25-54                          17
Education invest % GDP               13
dtype: int64

In [42]:
# Como se puede ver, las columnas nametype y fall se componen sólo por 2 valores diferentes
df[['Creat Ind % GDP']]

    Creat Ind % GDP
0               3.8
1               nan
2               nan
3               2.6
4               2.2
5               3.3
6               2.0
7               2.0
8               nan
9               nan
10              nan
11              7.4
12              nan
13              6.3
14              4.1
15              1.5
16              1.0

In [43]:
df.dtypes

Country                               object
GDP PC                                 int64
GDP US bill                          float64
GDP Growth %                         float64
Services % GDP                       float64
Creat Ind % GDP                      float64
Inflation                            float64
Unemployment                         float64
% pop below poverty line             float64
Internet penetration % population    float64
Median age                           float64
% pop 25-54                          float64
Education invest % GDP               float64
dtype: object

In [46]:
#  Vamos a mirar cuáles son los valores unicos. Usamos el método unique
df['Education invest % GDP'].unique()

array([5.9, 7.4, 7.3, 4.9, 4.5, 7.1, 5. , 3.5, 2.8, 5.3, 3.2, 3.8, 4.4])

In [48]:
# Si queremos contar cuántos valores hay para cada categoría, usamos el método value_counts

df['Education invest % GDP'].value_counts()

Argentina      1
Paraguay       1
Colombia       1
Mexico         1
Bolivia        1
Panama         1
Honduras       1
Ecuador        1
Costa Rica     1
Peru           1
Uruguay        1
El Salvador    1
Chile          1
Belize         1
Brazil         1
Nicaragua      1
Guatemala      1
Name: Country, dtype: int64